<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">About me</h2>
  <hr class="mb-4 border-zinc-600" />
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-200">
    I am a Junior Web Developer focused on building clean, accessible, and
    user-centered web applications. After completing a Full-Stack Web
    Development bootcamp at Adalab, I am now pursuing my professional career in
    web development. My background in hospitality has strengthened my
    communication skills, attention to detail, and user-focused mindset.
  </p>
  <p class="leading-8 text-lg text-pretty text-zinc-200">
    In this portfolio, you will find a selection of projects that reflect my
    learning process, technical skills, and passion for web development.
  </p>
</section>
