<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">About me</h2>
  <hr class="mb-4 border-zinc-600" />
  <p class="leading-8 text-base text-pretty mb-3 text-zinc-200">
    On this portfolio, you will find a selection of projects that reflect my
    learning process, technical skills, and passion for web development.
  </p>

  <p class="leading-8 text-base text-pretty text-zinc-200">
    I am a Junior Developer focused on FrontEnd, building clean, accessible, and
    user-centered web applications. My background in hospitality has
    strengthened my communication skills, attention to detail, and user-focused
    mindset.
  </p>
</section>
