<section class="my-20 max-w-3xl">
  <h2 class="text-2xl font-semibold mb-1">Certifications</h2>
  <hr class="mb-6 border-zinc-600" />

  <p class="mb-3">
    <strong>Adalab Full-Stack Web Development Bootcamp 2025 (500 hours)</strong>
    <span class="text-zinc-300"> — Completed</span>
  </p>

  <!-- Añadir cuendo empiece nuevo curso -->
  <p class="mb-3">
    <strong>IFCT0078 — Web Design & Web Programming (Junta de Andalucía)</strong
    >
    <span class="text-zinc-300"> — Starting Jan 29, 2026 (200 hours)</span>
  </p>

  <p class="mb-3">
    <strong>Degree in Tourism </strong>
    <span class="text-zinc-300"> — (Jaén University) </span>
  </p>
</section>
