<section class="my-20 max-w-3xl">
  <h2 class="text-2xl font-semibold mb-1">Languages</h2>
  <hr class="mb-6 border-zinc-600" />

  <p class="mb-3">
    <strong>Spanish:</strong> Native
  </p>

  <p class="mb-3">
    <strong>English:</strong> Advanced (spoken and written)
  </p>

  <p class="mb-3">
    <strong>Catalan:</strong> Basic
  </p>
</section>
