---
import Linkedin from "@assets/icons/linkedin.astro";
import Github from "@assets/icons/github.astro";
import Email from "@assets/icons/email.astro";
import ContainerHover from "@components/ContainerHover.astro";
---

<nav class="w-full flex justify-end items-center">
  <div class="flex items-center gap-4">
    <ContainerHover link="https://github.com/mariajose-serrano">
      <Github />
    </ContainerHover>

    <ContainerHover
      link="https://www.linkedin.com/in/maria-jose-serrano-9aa23810b"
    >
      <Linkedin />
    </ContainerHover>

    <ContainerHover link="mailto:mariajose-serrano@hotmail.com">
      <Email />
    </ContainerHover>
  </div>
</nav>
