---
import ProjectCard from "@components/ProjectCard.astro";
import Typescript from "@assets/icons/typescript.astro";
import React from "@assets/icons/react.astro";
import Supabase from "@assets/icons/supabase.astro";
import Tailwind from "@assets/icons/tailwind.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Projects</h2>
  <hr class="mb-6 border-zinc-600" />

  <ProjectCard
    projectTitle="First Project React Proyectos Molones Front"
    projectDescription="Final evaluation project ofModule 1, focused on HTML, CSS, and JavaScript fundamentals, layout, and responsive design."
    projectLink="https://github.com/mariajose-serrano/project-promo-58-module-3-team-3-Proyectos-Molones"
    image="/my-portfolio-maria-jose-serrano-higueras/images/logoweb.png"
  >
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="Harry Potter Web App"
    projectDescription="Interactive web application developed as the final project of Module 3. Focused on React, state management, and dynamic content."
    projectLink="https://github.com/mariajose-serrano/modulo-3-evaluacion-final-mariajose-serrano-Harry-Potter"
    image="/my-portfolio-maria-jose-serrano-higueras/images/harrypotterlogo.png"
  >
    <React />
    <Typescript />
    <Tailwind />
  </ProjectCard>

  <ProjectCard
    projectTitle="Twitter Lab"
    projectDescription="Frontend project replicating core Twitter functionalities, developed during Module 2. Focused on components, layout, and user interaction."
    projectLink="https://github.com/mariajose-serrano/modulo-2-evaluacion-final-bis-mariajose-serrano-TwitterLab"
    image="/my-portfolio-maria-jose-serrano-higueras/images/twitterlablogo.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="Grogu Game"
    projectDescription="Frontend project replicating core Twitter functionalities, developed during Module 2. Focused on components, layout, and user interaction."
    projectLink="https://github.com/mariajose-serrano/promo-58-module-3-pair-Y-grogu-game"
    image="/my-portfolio-maria-jose-serrano-higueras/images/groguimage.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="AdaTasks"
    projectDescription="Frontend project replicating core Twitter functionalities, developed during Module 2. Focused on components, layout, and user interaction."
    projectLink="https://github.com/mariajose-serrano/promo-58-modulo-2-pair-1-ada-tasks"
    image="/my-portfolio-maria-jose-serrano-higueras/images/adataskpic.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="Awesome Profile Cards"
    projectDescription="Frontend project replicating core Twitter functionalities, developed during Module 2. Focused on components, layout, and user interaction."
    projectLink="https://github.com/mariajose-serrano/project-promo-58-module-2-team-1-awesome-profile-cards"
    image="/my-portfolio-maria-jose-serrano-higueras/images/twitterlablogo.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="ADAKITTEN"
    projectDescription="Frontend project replicating core Twitter functionalities, developed during Module 2. Focused on components, layout, and user interaction."
    projectLink="https://github.com/mariajose-serrano/promo-58-modulo-2-pair-1-ada-kitten"
    image="/my-portfolio-maria-jose-serrano-higueras/images/adakittenimage.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="SPOTIFY"
    projectDescription="Frontend project replicating core Twitter functionalities, developed during Module 2. Focused on components, layout, and user interaction."
    projectLink="https://github.com/mariajose-serrano/promo-58-module-1-pair-6-spotify"
    image="/my-portfolio-maria-jose-serrano-higueras/images/spotify_logo_icon_.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="Proyectos Molones Back"
    projectDescription="Frontend project replicating core Twitter functionalities, developed during Module 2. Focused on components, layout, and user interaction."
    projectLink="https://github.com/IngraIssdottir/promo-58-module-4-group-3"
    image="/my-portfolio-maria-jose-serrano-higueras/backendimage.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>
</section>
