---
import ProjectCard from "@components/ProjectCard.astro";
import Typescript from "@assets/icons/typescript.astro";
import React from "@assets/icons/react.astro";
import Supabase from "@assets/icons/supabase.astro";
import Tailwind from "@assets/icons/tailwind.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Projects</h2>
  <hr class="mb-6 border-zinc-600" />

  <ProjectCard
    projectTitle="First Project React Proyectos Molones Front"
    projectDescription="Project focused on HTML, CSS, and JavaScript fundamentals, layout, and responsive design."
    projectLink="https://github.com/mariajose-serrano/project-promo-58-module-3-team-3-Proyectos-Molones"
    image="/my-portfolio-maria-jose-serrano-higueras/images/first-project-react.png"
  >
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="Harry Potter Web App"
    projectDescription="Interactive web application developed using React, state management, and dynamic content."
    projectLink="https://github.com/mariajose-serrano/modulo-3-evaluacion-final-mariajose-serrano-Harry-Potter"
    image="/my-portfolio-maria-jose-serrano-higueras/images/harrypotterlogo.png"
  >
    <React />
    <Typescript />
    <Tailwind />
  </ProjectCard>

  <ProjectCard
    projectTitle="Twitter Lab"
    projectDescription="Frontend project replicating core Twitter features, focused on component-based layout, UI structure, and user interaction using React."
    projectLink="https://github.com/mariajose-serrano/modulo-2-evaluacion-final-bis-mariajose-serrano-TwitterLab"
    image="/my-portfolio-maria-jose-serrano-higueras/images/twitterlablogo.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="Grogu Game"
    projectDescription="Fun interactive browser game built with React and Vite, using JavaScript, HTML, and SCSS."
    projectLink="https://github.com/mariajose-serrano/promo-58-module-3-pair-Y-grogu-game"
    image="/my-portfolio-maria-jose-serrano-higueras/images/groguimage.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="ADATASKS"
    projectDescription="A set of interactive tasks built using vanilla JavaScript, HTML, and CSS, focused on DOM manipulation."
    projectLink="https://github.com/mariajose-serrano/promo-58-modulo-2-pair-1-ada-tasks"
    image="/my-portfolio-maria-jose-serrano-higueras/images/adataskpic.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="Awesome Profile Cards"
    projectDescription="Interactive web app built with JavaScript, HTML, and SCSS that allows users to create and preview profile cards in real time."
    projectLink="https://github.com/mariajose-serrano/project-promo-58-module-2-team-1-awesome-profile-cards"
    image="/my-portfolio-maria-jose-serrano-higueras/images/a-profile-cards.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="ADAKITTEN"
    projectDescription="Simple interactive web app built with JavaScript, HTML, and CSS, focused on DOM manipulation, filtering data, and basic user interaction."
    projectLink="https://github.com/mariajose-serrano/promo-58-modulo-2-pair-1-ada-kitten"
    image="/my-portfolio-maria-jose-serrano-higueras/images/adakittenimage.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="SPOTIFY"
    projectDescription="Static Spotify-inspired layout built with HTML and CSS, focused on page structure, styling, and responsive design."
    projectLink="https://github.com/mariajose-serrano/promo-58-module-1-pair-6-spotify"
    image="/my-portfolio-maria-jose-serrano-higueras/images/spotify_logo_icon_.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>

  <ProjectCard
    projectTitle="Proyectos Molones Back"
    projectDescription="Backend project built with Node.js and Express, focused on creating REST APIs, handling routes, and managing server-side logic."
    projectLink="https://github.com/mariajose-serrano/promo-58-module-4-group-3-Proyectos-molones-Back"
    image="/my-portfolio-maria-jose-serrano-higueras/backendimage.png"
  >
    <React />
    <Tailwind />
    <Typescript />
  </ProjectCard>
</section>
